body{
    display:center;
    text-align: center;
    margin-top: 4.5cm;
    box-shadow: 0 0 3px ;
    height: 5cm;
    width: 10cm;
    margin-left: 9cm;
button{
    background-color: blue;
    margin-top: .3cm;
}
input{
    width:5cm;
    text-align: center;
    border-radius:3px;
}
}