*{
    margin: 0;
    padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
#tit{
    
    background-color: pink;
    padding: 10px;
}
#cont{
    background-color: lightblue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 25%;
    
    border-radius: 10px;
    }
    #name{
        color: darkred;
    }
    #popup{
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(99, 13, 70);
        color: rgb(185, 27, 27);
        font-size: 30px;
        border: none;
        
    }
    #popupback{
        display:block;
        position:absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        opacity: 0.5;
        top: 0;
    }
    #popupreal{
        display:block;
    height: 30%;
        width:30%;
        background-color: rgb(179, 31, 31);
        border-radius: .5cm;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        border-bottom: solid black 2px;
        padding: 5px;

    }
    #bookname, #authorname, #description{
        color:black;
        background-color: transparent;
        border-bottom: solid black 2px;
        padding: 5px;
    }